/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/title.css';


/* Custom style below this comment line */

header.container {

}

.drop-down{
    float: left;
    color: #344861;
    background-color: red;
    font-size: 24px;
    width: 2em;
    line-height: 1em;
    padding: 0.5em;
    border-width: 0px;
}

.logo{
    float: left;
    margin-left: 5%;
    font-size: 28px;
    line-height: 48px;
    color: #344861;
}

.logo > span{
    color: #4A90E2;
}

.new-game{
    float: right;
    border-style: none;
    text-transform: capitalize;
    font-size: 24px;
    width: auto;
    line-height: 1em;
    padding: 0.5em;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.menu > div{
    line-height: 1em;
    font-size: 24px;
}

.selector{
    width: 30%;
    background-color: aqua;
}

#Difficulty{
    font-size: 20px;
}

.menu > .time{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    width: 30%;
    background-color: green;
}

.time > button{
    font-size: 14px;
    color: #344861;
    line-height: 30px;
    width: 30px;
    border-radius: 15px;
    border: none;
}

.number-box{
    float: left;
    width: 458px;
    height: 458px;
    background-color: yellowgreen;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
    background-color: #000;
    user-select: none;
}
.number-box > .box-9{
    width: 152px;
    height: 152px;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.number-box > .box-9 > div{
    background-color: #fff;
    line-height: 48px;
    width: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}
.game-buttons{
    float: right;
    width: calc(100% - 500px);
    color: #4A90E2;
}

.game-menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: aquamarine;
}

.game-buttons > .game-menu > div > button {
    border-style: none;
    border-radius: 100%;
    color:#4A90E2;
    font-size: 200%;
    line-height: 2.5em;
    width: 2.5em;
}
.num-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 8px;
    user-select: none;
}
.num-buttons > button {
    width: 2em;
    line-height: 1.8em;
    border-style: none;
    border-radius: 10%;
    color: #4A90E2;
    font-size: 400%;
}
.app-ad{
    display: inline-block;
    width: 100%;
    background-color: red;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-section {
    width: 55%;
    padding: 2%;
    padding-right: 0;
    display: flex;
    align-items: center;
}
.left-section img {
    width: 25%;
}
.ad-text {
    text-align: left;
    width: 70%;
    height: 100%;
    margin-left: 5%;
}
.apps {
    display: flex;
    gap: 15px;
    align-items: center;
}
.app-ad  p:first-of-type{
    color: gray;
}
.app-ad  p:last-of-type{
    color: orange;
}
.app-ad a{
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
}
footer{
    background-color: #222E3E;
    color: #fff;
}
h1{
    margin: 0;
    font-size: 300%;
    font-weight: normal;
    line-height: 1em;
    padding-top: 20px;
}
footer >div>div > p{
    text-transform: capitalize;
    color: gray;
    margin-bottom: 40px;
}
footer >div>nav{
    text-transform: capitalize;
}
footer > div> nav:nth-child(2)> a{
    margin: 0 1em;
    font-size: 24px;
}
footer > div> nav> a> span{
    color: #fff;
    text-transform: lowercase;
}
footer > div> div:last-child{
    margin: 20px 0;
}
footer >div>div > select{
    background-color: #222E3E;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-right: 30px;
}
footer >div>div > a{
    display: inline-block;
    padding: 0.25em 0;
    width: 1.5em;
    line-height: 1em;
    background-color: #1877F2;
    border-radius: 2em;
    font-size: 26px;
    font-weight: bold;
}
hr{
    height: 1px;
    background-color: gray;
    border-width: 0px;
}
footer >div>nav:first-child{
    margin: 10px 0;
}
footer >div>nav:first-child>a{
    margin: 0 2em;
}
footer >div>p{
    color:gray;
}